/* phone-style.css */


.wrapper{
    flex-direction: column;
    width: 100vw;
    border-radius: 0;
    box-shadow: none;
}

.result{
    width: 100%;
    border-radius: 0 0 30px 30px;
}

.result h2{
    font-size: 18px;
    margin: 15px 0;
    font-weight: 500;
}

.result .circle{
    width: 140px;
    height: 140px;
}

.result .circle .number{
    font-size: 48px;
    margin-top: 30px;
}

.result .circle span{
    font-size: 15px ;
}

.result .great{
    font-size: 18px;
}

.result p{
    font-size: 15px;
}

.value{
    width: 100%;
}

.value h2{
    font-size: 18px;
    margin-bottom: 25px;
}

.value a{
    height: 60px;
}